{% extends 'main_sub.html' %}

{% block title %}Открытка{% endblock %}

{% block js_head %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/gallery.js"></script>
{% endblock %}

{% block sub %}
<!--<div class="gallery">
    <div class="gallery__nav">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="gallery__prev"></a>
            {% endif %}

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="gallery__next"></a>
            {% endif %}
        {% endif %}
    </div>
    <ul class="gallery__image-list">
        {% for card in card_list %}
        <li><a href="../cards/{{ card.id }}/"><img src="{{ card.thumbnail.url }}" width="164" height="124"/><span class="facebook_name" user_id="{{ card.user_id }}">&nbsp;</span></a></li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
    <ul class="gallery__pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="active">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}

        <li><b>{{ page_obj.number }}</b> из <b>{{ page_obj.paginator.num_pages }}</b></li>

        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="active">{{ page_obj.next_page_number }}</a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>-->
<div class="gallery__popup" style="display: block;">
    <div class="gallery__nav">
        {% if prev %}
        <a href="../cards-{{ prev }}/" class="gallery__prev"></a>
        {% endif %}
        
        {% if next %}
        <a href="../cards-{{ next }}/" class="gallery__next"></a>
        {% endif %}
        
        <a href="../gallery/?page={{ gallery_page }}" class="gallery__popup__close"></a>
    </div>
    <img src="{{ image_src }}" id="popup_image" class="image_big" alt=" " width="465" height="350"/>
    <a id="popup_name" class="facebook_name" user_id="{{ user_id }}" href="http://www.facebook.com/profile.php?id={{ user_id }}" target="_blank">&nbsp;</a>
</div>
{% endblock %}
