{% extends 'main_sub.html' %}

{% block title %}Условия конкурса{% endblock %}

{% block js_head %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jscrollpane.min.js"></script>
{% endblock %}

{% block head %}
<script type="text/javascript">
    jQuery(function() {
        jQuery('.txt-content').jScrollPane({showArrows: true, verticalGutter: 20});
    });
</script>
{% endblock %}

{% block sub %}
<div class="txt-content">
    <div style="font-weight: bold;">
        <p>
        Друзья, мы встретили Новый год и вместе вошли в 2012. А впереди
        еще Рождество и Старый Новый Год. И новые поздравления,
        новые пожелания и много много улыбок.
        </p>

        <p>
        Мы хотим продлить удовольствие и подарить вам возможность
        поздравить ваших близких и родных, сказать им самые теплые
        слова.
        </p>

        <p>
        С 3 января 2011 года по 14 января 2012 года участвуйте в нашем
        конкурсе «Римские каникулы», создавайте поздравления в
        специальном редакторе и размещайте открытки, и получите
        возможность выиграть эксклюзивный ноутбук 9 серии из
        коллекции Limited Edition, фотокамеры Samsung MV800, целую
        неделю отдыха в Риме и другие призы!
        </p>
    </div>

<h2>Акция «Римские каникулы».  Правила.</h2>

<p>
Организатором Акции «Римские каникулы» (далее Акция) является ООО «Самсунг Электроникс Рус Компани». Акция проводится на территории Российской Федерации в период с «30» декабря 2011 года по «16» января 2011 года включительно.
</p>

<p>
1. Участники Акции.
</p>
<p>
1.1.  В Акции принимают участие физические лица, которые достигли 15 лет и являются гражданами РФ, проживающими на территории РФ (несовершеннолетние участники обязаны получить согласие на участие в Акции от родителей или законных опекунов).
</p>
<p>
1.2.  К участию в Акции не допускаются сотрудники, подрядчики и агенты Организатора Акции; сотрудники, подрядчики и агенты социальной сети facebook; их аффилированные и дочерние компании; рекламные агентства; ближайшие родственники (супруги, родители, братья, сестры, дети или супруги любых из вышеперечисленных лиц независимо от места их проживания) и/или совместно проживающие с ними лица, являющиеся или не являющиеся родственниками.
</p>
<p>
1.3.  Принимать участие в Акции, не претендуя на получение подарков, могут любые физические лица, даже если они соответствуют п. 1.2. настоящих Правил.
</p>

<p>
2. Правила Акции.
</p>
<p>
2.1.  Для того чтобы претендовать на подарок, участнику Акции предлагается стать поклонником страницы Samsung Russia на facebook.
</p>
<p>
2.2.  Для участия в Акции участнику также необходимо разрешить Программе доступ к своим личным данным на facebook. Организатор Акции не несет ответственности за действия Программы.
</p>
<p>
2.3. Для участия в Акции необходимо создать с помощью Программы поздравительную открытку,  и разместить её на своей странице.
</p>
<p>
2.3.  Победителей Акции определяет Организатор.
</p>
<p>
2.4.  Организатор Акции оставляет за собой право в любой момент, без предварительного уведомления и объяснения причин заблокировать участие в Акции пользователям, нарушающим настоящие Правила и / или предпринимающим действия, нацеленные на фальсификацию рейтингов Акции.
</p>
<p>
2.5.  Принимая участие в Акции, каждый участник автоматически признает право и дает разрешение Организатору обрабатывать свои персональные данные для продвижения Акции и иных целей, связанных с Акцией, в течение неограниченного периода времени, без уплаты компенсации и без уведомления, а также без дополнительных разрешений в пределах, разрешенных законодательством.
</p>
<p>
 
 3. Условия получения подарков.
</p>
<p>
 
 3.1. Первое место дает участнику право претендовать на поездку в Рим, и фотокамеру Samsung MV800.
</p>
<p>
 
 3.2. В поездку включены: авиаперелет Москва-Рим-Москва, трансферт из аэропорта до отеля и обратно, проживание в отеле, выбранном из ассортимента «Натали Турс»  класса не ниже 3* 7 ночей, тип питания – завтраки, медицинская страховка, экскурсионная программа, оформление итальянской визы. Экскурсионная программа включает в себя обзорную экскурсию "Достопримечательности Рима", обзорную экскурсию "Рим эпохи барокко и малые площади и фонтаны Рима", и пешеходную прогулка по району Трастевере (2 часа). 
</p>
<p>
 
 3.3. Второе место дает участнику право претендовать на ноутбук Samsung 9 Series Limited Edition.
</p>
<p>
 
 3.3. Третье и четвертое места дают участникам право претендовать на фотокамеры Samsung MV800.
</p>
<p>
 
 3.5. Места с пятого по девятое дают участникам право претендовать на призы - фоторамки Samsung
</p>
<p>
 
 3.6. В рамках Акции каждый участник, а также его ближайшие родственники и члены семьи, могут претендовать только на один подарок. В случае если после подведения итогов Акции становится известен факт родства между кем-либо из десяти лидеров рейтинга – претендентов на подарки, подарок получает только один из членов семьи, занявший более высокое место в рейтинге. Подарки, ошибочно присужденные членам семьи этого участника, переходят другим участникам, которые находятся следующими в рейтинге.
</p>
<p>
 
 3.7.  В течение 10 рабочих дней после подведения итогов года и определения обладателей подарков с ними связывается Организатор Акции, информирует о подарках и получает адрес и паспортные данные участника для последующей отправки подарка.
</p>
<p>
 
 3.8.  Для информирования обладателей подарков используются сообщения, отправляемые в профайл участника в сети facebook, а при технической невозможности отправить сообщение (закрытый профайл пользователя) – через уведомление на стене страницы Samsung Russia.
</p>
<p>
 
 3.9.  Подарки вручаются в течение 60 дней после подведения итогов Акции почтовой службой по адресу, предоставленному участником. Фактом выполнения обязательств Организатора является передача подарков в почтовую службу.
</p>
<p>
 
 3.10. Организатор вправе отказать участнику в выдаче подарка, если последний не отвечает на сообщение Организатора в течение 10 рабочих дней.
</p>
<p>
 
 3.11. В случае отказа участника от подарка, участник обязан в письменной форме уведомить об этом Организатора в течение 10 рабочих дней с момента получения сообщения Организатора. Выдача подарка в этом случае не производится.
</p>
<p>
 
 3.12. Подарки не выдаются в денежном эквиваленте, возврату и обмену не подлежат.
</p>
<p>
 
 3.13. Обладатели подарков несут обязанность по выплате налогов и сборов, предусмотренных действующим законодательством РФ в связи с получением дохода в виде подарков за участие в Акции, в порядке, предусмотренном действующим законодательством РФ.
</p>
<p>
 
 3.14. Реальные подарки могут отличаться от своих изображений в Программе. Организатор Акции оставляет за собой право заменить подарок на равнозначный.
<p>

</div>
{% endblock %}
